{% include 'utils/header.html'%}
<main >
    <style>
        .oa{
            text-align: center;
            font-family: "Marvel";
            margin-top: 20px;
            font-size: 36px;
        }
        .galeria{
            columns: 5;
            margin: 30px;
        }
        .galeria img{

            width: 100%;
            border-radius: 20px;
            margin: 10px 0px;
        }

        .galeria img:hover{
            cursor: pointer;
            filter: brightness(0.8);
            transform: scale(1.2);
            transition: 0.5s ;
        }
    </style>
    <h3 class="oa">ESTAS SON ALGUNAS DE LAS FOTOS QUE TENGO DE ELLA ...</h3>
    <div class="galeria">
        <img src="/static/img/fototeca/img_001.JPEG">
        <img src="/static/img/fototeca/img_002.JPEG">
        <img src="/static/img/fototeca/img_003.JPEG">
        <img src="/static/img/fototeca/img_004.JPEG">
        <img src="/static/img/fototeca/img_005.JPEG">
        <img src="/static/img/fototeca/img_006.JPEG">
        <img src="/static/img/fototeca/img_007.JPEG">
        <img src="/static/img/fototeca/img_008.JPEG">
        <img src="/static/img/fototeca/img_009.JPEG">
        <img src="/static/img/fototeca/img_010.JPEG">
        <img src="/static/img/fototeca/img_011.JPEG">
        <img src="/static/img/fototeca/img_012.JPEG">
        <img src="/static/img/fototeca/img_013.JPEG">
        <img src="/static/img/fototeca/img_015.JPEG">
        <img src="/static/img/fototeca/img_016.JPEG">
        <img src="/static/img/fototeca/img_017.JPEG">
        <img src="/static/img/fototeca/img_018.JPEG">
        <img src="/static/img/fototeca/img_019.JPEG">
        <img src="/static/img/fototeca/img_020.JPEG">
        <img src="/static/img/fototeca/img_021.JPEG">
        <img src="/static/img/fototeca/img_022.JPEG">
        <img src="/static/img/fototeca/img_023.JPEG">
        <img src="/static/img/fototeca/img_024.JPEG">
        <img src="/static/img/fototeca/img_025.JPEG">
        <img src="/static/img/fototeca/img_026.JPEG">
        <img src="/static/img/fototeca/img_027.JPEG">
        <img src="/static/img/fototeca/img_028.JPEG">
        <img src="/static/img/fototeca/img_029.JPEG">
        <img src="/static/img/fototeca/img_030.JPEG">
        <img src="/static/img/fototeca/img_031.JPEG">
        <img src="/static/img/fototeca/img_032.JPEG">
        <img src="/static/img/fototeca/img_033.JPEG">
        <img src="/static/img/fototeca/img_034.JPEG">
        <img src="/static/img/fototeca/img_035.JPEG">
        <img src="/static/img/fototeca/img_036.JPEG">
        <img src="/static/img/fototeca/img_037.JPEG">
        <img src="/static/img/fototeca/img_038.JPEG">
        <img src="/static/img/fototeca/img_039.JPEG">
        <img src="/static/img/fototeca/img_040.JPEG">
        <img src="/static/img/fototeca/img_041.JPEG">
        <img src="/static/img/fototeca/img_042.JPEG">
        <img src="/static/img/fototeca/img_043.JPEG">
        <img src="/static/img/fototeca/img_044.JPEG">
        <img src="/static/img/fototeca/img_045.JPEG">
        <img src="/static/img/fototeca/img_046.JPEG">
        <img src="/static/img/fototeca/img_047.JPEG">
        <img src="/static/img/fototeca/img_048.JPEG">
        <img src="/static/img/fototeca/img_049.JPEG">
        <img src="/static/img/fototeca/img_050.JPEG">
        <img src="/static/img/fototeca/img_051.JPEG">
        <img src="/static/img/fototeca/img_052.JPEG">
        <img src="/static/img/fototeca/img_053.JPEG">
        <img src="/static/img/fototeca/img_054.JPEG">
        <img src="/static/img/fototeca/img_055.JPEG">
        <img src="/static/img/fototeca/img_056.JPEG">
        <img src="/static/img/fototeca/img_057.JPEG">
        <img src="/static/img/fototeca/img_058.JPEG">
        <img src="/static/img/fototeca/img_059.JPEG">
        <img src="/static/img/fototeca/img_060.JPEG">
        <img src="/static/img/fototeca/img_061.JPEG">
        <img src="/static/img/fototeca/img_062.JPEG">
        <img src="/static/img/fototeca/img_063.JPEG">
        <img src="/static/img/fototeca/img_064.JPEG">
        <img src="/static/img/fototeca/img_065.JPEG">
        <img src="/static/img/fototeca/img_066.JPEG">
        <img src="/static/img/fototeca/img_067.JPEG">
        <img src="/static/img/fototeca/img_068.JPEG">
        <img src="/static/img/fototeca/img_069.JPEG">
        <img src="/static/img/fototeca/img_070.JPEG">
        <img src="/static/img/fototeca/img_071.JPEG">
        <img src="/static/img/fototeca/img_072.JPEG">
        <img src="/static/img/fototeca/img_073.JPEG">
        <img src="/static/img/fototeca/img_074.JPEG">
        <img src="/static/img/fototeca/img_075.JPEG">
        <img src="/static/img/fototeca/img_076.JPEG">
    </div>
</main>
{% include 'utils/footer.html'%}