<!--INICIO DE PIE DE PAGINA-->
<footer>
    <div class="footer">
        <div class="contactos">
            <h4>CONTACTAME</h4>
            <div class="app">
                <img src='/static/img/ico/gmail.png'>
                <a href="" type="mail">duquerwesh@gmail.com</a>
            </div>
            <div class="app">
                <img src='/static/img/ico/wsp.png'>
                <a href="https://wa.me/51929937122" target="_blank" >wa.me/51xxxxxxxxx</a>
            </div>
        </div>
        <div class="copy">
            <p>todos los derechos reservados © Copyright Duque,2024</p>
        </div>
    </div>
</footer>
</body>
</html>