<!DOCTYPE html>
<html lang="es">
<head>
    <title>Minha Girl</title>
    <link rel="stylesheet" href='/static/css/style.css'>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Marvel:wght@400;700&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=KoHo&display=swap');
    </style>
</head>

<body>
<!--INICIO DE ENCABEZADO-->
<header>
    <div class="encabezado">
        <nav class="barra_nav">
            <div class="espace">
                <img src='/static/img/header/camera.png' >
                <a href='/fototeca'>FOTOS</a>
            </div>
            <div class="espace">
                <img src='/static/img/header/carta.png' >
                <a href="#">CARTAS</a>
            </div>
        </nav>
        <div class="name_of_page">
            <img src='/static/img/header/message.png' >
            <h3>MINHA GIRL</h3>
            <a href='/'>GWENDOLINE</a>
        </div>
        <nav class="barra_nav">
            <div class="espace">
                <img src='/static/img/header/poema.png' >
                <a href="#">POEMAS</a>
            </div>
            <div class="espace">
                <img src='/static/img/header/me.png' >
                <a href="#">SOBRE MI</a>
            </div>
        </nav>
    </div>
</header>
<!--FIN DE ENCABEZADO-->